<div
  class="card container w-50 py-3 px-2 mx-auto mt-5 bg-dark text-white bg-opacity-75"
>
  <div class="card-body">
    <form [formGroup]="loginCd">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control ng-valid"
          aria-describedby="emailHelp"
        />
        <div *ngIf="isValid && loginCd.controls['email']?.errors?.['required']">
          Email is Required
        </div>
        <div *ngIf="isValid && loginCd.controls['email']?.errors?.['email']">
          Enter valid Email address
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <div
          *ngIf="isValid && loginCd.controls['password']?.errors?.['required']"
        >
          Password is Required
        </div>
        <div
          *ngIf="isValid && loginCd.controls['password']?.errors?.['pattern']"
        >
          Enter valid Password
        </div>
      </div>
      <button type="submit" (click)="login()" class="btn px-4 mt-2 btn-dark">
        Login
      </button>
    </form>
  </div>
</div>
