.focusedInput:focus {
  border-color: rgba(248, 244, 244, 0.696);
  outline: 2px solid black;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(248, 244, 244, 0.696);
  box-shadow: 0 0 20px rgba(248, 244, 244, 0.696) !important;
}
